@charset "UTF-8";

body{

background-color: rgb(185, 243, 198);
font-family: Arial, Helvetica, sans-serif;

}
h1{
background-color: rgba(17, 241, 9, 0.397);
}
  h1#principal{
       text-align: center;
background-color: rgb(6, 87, 10);
color: white;
  }


h2{

    background-color: rgb(154, 230, 167);
}
.basico{
 background-color:  rgba(17, 241, 9, 0.397);
 font-weight: bold;
}

.intermediario{
background-color: rgba(241, 237, 9, 0.397);
};

.avancado{
background-color: rgba(241, 9, 9, 0.397);
};

